.content {
  background-color: #f3f3f3;
  padding: 20px 40px;
  /*height: 100vh;*/
  min-height: 100vh;
}

.header {
  padding: 10px 0;
}

.header__link {
  color: #000;
  text-decoration: none;
  padding: 0 10px;
}

.header__link:hover {
  text-decoration: none;
  color: #000;
}

.header__container {
  justify-content: space-between;
}
